#day{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
/* text-align: start; */
color: #000000;
/* border: 1px solid; */
}
#swtch{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #000000;
}

.no-underline  {
    text-decoration: none;
    border: none; /* Optional: To remove the border as well */
  }
  